[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true

[packages]

dj-database-url = "*"
django = "*"
gunicorn = "*"
psycopg2 = "*"
whitenoise = "*"
requests = "*"
djangorestframework = "*"
django-allauth = "*"
django-rest-auth = "*"
django-cors-headers = "*"
django-guardian = "*"

[requires]
python_version = "3.6"
